/* Sylesheet for Logo component */
.logo {
  /*An inline svg‘s viewport is established by the height and width specified
  on the root <svg> element. Once the width and height attributes are removed,
  all browsers assume a width equal to 100% and stretch the SVG horizontally to
  fit the width of its container.
  The way to make the inline SVG fluid in this case is by using the padding hack */
    width: 35%;
    height: 0;
    padding-top: 48%;
    position: relative;
      /*centered on the screen*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
}
.logo:hover circle	{
 	 -webkit-animation-play-state: paused;
 	         animation-play-state: paused;
}

circle {
  fill: rgba(150, 48, 90, .8);
  stroke: #000;
  stroke-width: 32;
  stroke-dasharray: 0 100;
  -webkit-animation: fillup 5s linear infinite;
          animation: fillup 5s linear infinite;

  position: relative;
  z-index: 2;
}

.timer {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);

  background: rgba(150, 48, 90, 1);
  border-radius: 50%;
  position: absolute;
  width: 100%
}

@-webkit-keyframes fillup {
  to {
    stroke-dasharray: 100px 100px;
  }
}

@keyframes fillup {
  to {
    stroke-dasharray: 100px 100px;
  }
}

.letters {
  position: absolute; /*needed to overlay circle*/
  z-index: 5;
  width: 100%
}

.path {
  stroke: #FBFBFB;
  fill: #FBFBFB;
  fill-opacity: 0;
}

.letter1 {
  stroke-dasharray: 680;
  stroke-dashoffset: 680;
  -webkit-animation: anim2 0.7s linear 2s forwards, anim4 1s linear 3s forwards;
          animation: anim2 0.7s linear 2s forwards, anim4 1s linear 3s forwards;

}

@-webkit-keyframes anim2 {
  0% {
    stroke-dashoffset: 680;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes anim2 {
  0% {
    stroke-dashoffset: 680;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.letter2 {
  stroke-dasharray: 910;
  stroke-dashoffset: 910;
  -webkit-animation: anim3 0.7s linear 2s forwards, anim4 1s linear 3s forwards;
          animation: anim3 0.7s linear 2s forwards, anim4 1s linear 3s forwards;
}

@-webkit-keyframes anim3 {
  0% {
    stroke-dashoffset: 910;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes anim3 {
  0% {
    stroke-dashoffset: 910;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes anim4 {
  0% {
    fill-opacity: 0;
  }

  100% {
    fill-opacity: 1;
  }
}

@keyframes anim4 {
  0% {
    fill-opacity: 0;
  }

  100% {
    fill-opacity: 1;
  }
}
